name: launch_review_latest
description: A Flutter plugin to assist in leaving user reviews/ratings in Google Play Store and Apple App Store.
version: 1.0.0
homepage: https://github.com/Mohamed-Nagdy/launch_review_latest

environment:
  sdk: ^3.7.0
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.mohamednagdy.launch_review_latest
        pluginClass: LaunchReviewLatestPlugin
      ios:
        pluginClass: LaunchReviewLatestPlugin
